body {
  height: 100vh;
  width: 100vw;
}

#map {
  /* background: url(images/demonstration.png); */
  /* grid-column: 2;
  grid-row: 2; */
  height: calc(100vh - var(--header-height));
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#listing {
  height: calc(100vh - var(--header-height));
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}
#listing .form {
  height: var(--form-height);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .25em;
  order: -1;
}

#listing .form label {
  grid-column: 1;
}

#listing .form input {
  grid-column: 2;
}

#listing .results {
  height: calc(100vh - var(--header-height) - var(--form-height));
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.action-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: .25em;
  width: 100%;
}


#listing .results .action-card {
  border: 2px solid gray;
  padding: 1em;
  margin-bottom: 1em;
}

#listing .results .action-card__type,
#listing .results .action-card__industry,
#listing .results .action-card__local,
#listing .results .action-card__duration,
#listing .results .action-card__participant-count,
#listing .results .action-card__bargaining-unit-size,
#listing .results .action-card__source-label,
#listing .results .action-card__source,
#listing .results .action-card__demands,
#listing .results .action-card__notes {
  display: none;
}

.action-card__start-date,
.action-card__end-date {
  grid-column: span 2;
}

#listing .results .action-card__start-date,
#listing .results .action-card__end-date {
  grid-row: 1;
}

.action-card__employer,
.action-card__labor-org,
.action-card__type,
.action-card__industry,
.action-card__local,
.action-card__duration,
.action-card__participant-count,
.action-card__bargaining-unit-size,
.action-card__location-label,
.action-card__source-label,
.action-card__demands,
.action-card__notes {
  grid-column: span 4;
}

.action-card__location {
  cursor: pointer;
  /* If we keep this, we can switch to two cols */
  grid-column: span 2;
  align-content: center;
}

.action-card__location[data-current="true"] {
  /* font-style: italic; */
  /* border: 1px solid gray; */
  padding: .25em .5em;
  border-radius: 5px;
  /* border: 1px solid darkred; */
  background-color: #555;
  color: white;
}
/* .action-card__location[data-current="true"]::after{
  content: ' â†';
} */

.filter-form {
  /* position: absolute; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: .75em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid gray;
  background-color: white;
  /* font-size: smaller; */
}

.filter-form .type-options {
  display: flex;
  gap: 2em;
  align-items: stretch;
}

.filter-form .date-options {
  display: flex;
  flex-direction: column;
  gap: .25em;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  .filter-form .date-options {
    flex-direction: row;
    gap: 1em;
  }
}

.filter-form .authorized-option {
  justify-self: start;
}

.filter-form  label {
  font-weight: 500;
  grid-column: 1;
  margin: 0;
  line-height: 1.2;
}

.filter-form > select {
  width: 100%;
}
