:root {
  --header-height: 140px;
  --header-top-height: 90px;
  --form-height: 30vh;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media (min-width: 800px) {
  header {
    height: var(--header-height);
  }
}

.topNav {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

@media (min-width: 800px) {
  .topNav {
    height: var(--header-top-height);
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }
}

.bottomNav {
  padding: 10px;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-flow: row nowrap;
}

@media (min-width: 800px) {
  .bottomNav {
    height: calc(var(--header-height) - var(--header-top-height));
  }
}

.follow-button img{
  width: 23px;
}

.linksSection {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: .75em;
  align-items: end;
}

.ilrLink img,
.slerLink img {
  max-width: 100%;
}

@media (min-width: 800px) {
  .ilrLink,
  .slerLink {
    display: block;
    height: var(--header-top-height);
  }

  .ilrLink img,
  .slerLink img {
    height: var(--header-top-height);
    max-width: 100%;
  }
}

.websiteTitle {
  font-weight: bold;
  font-size: 1.75em;
  margin: 0;
  line-height: 1;
}

.navLinks,
.navLinks:hover {
  text-decoration: none;
  color: #222;
 }

.navLinks:after {
  content: '';
  display: block;
  width: 40%;
  max-width: 100%;
  border-bottom: #b31b1b 2px solid;
  transition: width ease-in .25s;
}

.navLinks:hover:after {
  width: 100%;
}

p {
  line-height: 1.4;
  font-weight: 300;
}

/* About */
.mainDiv {
  max-width: 1020px;
  margin: 2em auto;
  grid-column: span 2;
  padding: 10px;
}

.mainDiv .section {
  margin-top: 2em;
}

.field--field-components.people {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.5em;
}

@media (min-width: 800px) {
  .field--field-components.people {
    grid-template-columns: 1fr 1fr;
  }
}

.field--field-components.people .imageClass {
  max-width: 100px;
  border-radius: 100%;
}

@media (min-width: 800px) {
  .field--field-components.people .imageClass {
    max-width: 150px;
  }
}

.person {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.person .infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.person .nameInfo {
  margin: 0;
}

.person .roleInfo {
  font-weight: 300;
}

.person .descInfo {
  font-weight: 300;
  line-height: 1.4;
}
