#page_1 {
    position: relative;
    overflow: scroll;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
  }
  #page_1 #id1_1 {
    border: none;
    padding: 0px;
    border: none;
    overflow: hidden;
  }
  #page_1 #id1_2 {
    border: none;
    padding: 0px;
    border: none;
    width: 412px;
    overflow: hidden;
  }


  .ft0 {
    font-size: calc(1rem/0.80);
    font-weight: 300;
    line-height: 19px;
  }
  .ft1 {
    font: bold calc(1rem/0.80) "Calibri";
    line-height: 19px;
  }
  .ft2 {
    font: bold calc(1rem/0.80) "Calibri";
    text-decoration: underline;
    line-height: 19px;
  }
  .ft3 {
    font-size: calc(1rem/0.80);
    font-weight: 300;
    line-height: 20px;
  }
  .ft4 {
    font: italic calc(1rem/0.80) "Calibri";
    line-height: 20px;
  }
  .ft5 {
    font: bold calc(1rem/0.80) "Calibri";
    line-height: 20px;
  }
  .ft6 {
    font: 11px "Calibri";
    line-height: 13px;
    position: relative;
    bottom: 5px;
  }
  .ft7 {
    font: 11px "Calibri";
    line-height: 15px;
    position: relative;
    bottom: 5px;
  }
  .ft8 {
    font-size: calc(1rem/0.80);
    font-weight: 300;
    line-height: 21px;
  }
  .ft9 {
    font: italic bold 16px "Calibri";
    line-height: 20px;
  }
  .ft10 {
    font: 8px "Calibri";
    line-height: 10px;
  }
  .ft11 {
    font: 13px "Calibri";
    margin-left: 3px;
    line-height: 15px;
  }
  .ft12 {
    font: italic 13px "Calibri";
    line-height: 15px;
  }
  .ft13 {
    font: 13px "Calibri";
    line-height: 15px;
  }
  .ft14 {
    font: 9px "Calibri";
    line-height: 11px;
    position: relative;
    bottom: 5px;
  }
  .ft15 {
    font: italic bold 16px "Calibri";
    line-height: 19px;
  }
  .ft16 {
    font: 11px "Calibri";
    line-height: 14px;
    position: relative;
    bottom: 5px;
  }
  .ft17 {
    font: 13px "Calibri";
    margin-left: 3px;
    line-height: 18px;
  }
  .ft18 {
    font: italic 13px "Calibri";
    line-height: 18px;
  }
  .ft19 {
    font: 13px "Calibri";
    text-decoration: underline;
    color: #0563c1;
    line-height: 18px;
  }
  .ft20 {
    font: 13px "Calibri";
    line-height: 18px;
  }
  .ft21 {
    font-size: calc(1rem/0.80);
    font-weight: 300;
    margin-left: 4px;
    line-height: 20px;
  }
  .ft22 {
    font: italic calc(1rem/0.80) "Calibri";
    color: #212121;
    line-height: 20px;
  }
  .ft23 {
    font-size: calc(1rem/0.80);
    font-weight: 300;
    color: #212121;
    line-height: 20px;
  }
  .ft24 {
    font: italic calc(1rem/0.80) "Calibri";
    color: #212121;
    line-height: 21px;
  }
  .ft25 {
    font: 11px "Calibri";
    color: #212121;
    line-height: 15px;
    position: relative;
    bottom: 5px;
  }
  .ft26 {
    font-size: calc(1rem/0.80);
    font-weight: 300;
    color: #212121;
    line-height: 21px;
  }
  .ft27 {
    font: italic calc(1rem/0.80) "Calibri";
    color: #212121;
    line-height: 19px;
  }
  .ft28 {
    font-size: calc(1rem/0.80);
    font-weight: 300;
    color: #212121;
    line-height: 19px;
  }

  .p0 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .p1 {
    text-align: left;
    padding-left: 129px;
    margin-top: 19px;
    margin-bottom: 0px;
  }
  .p2 {
    text-align: left;
    margin-top: 21px;
    margin-bottom: 0px;
  }
  .p3 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .p4 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .p5 {
    text-align: left;
    margin-top: 36px;
    margin-bottom: 0px;
  }
  .p6 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .p7 {
    text-align: left;
    padding-left: 48px;
    margin-top: 16px;
    margin-bottom: 0px;
    text-indent: -47px;
  }
  .p8 {
    text-align: left;
    padding-left: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .p9 {
    text-align: left;
    padding-left: 48px;
    margin-top: 1px;
    margin-bottom: 0px;
  }
  .p10 {
    text-align: justify;
    padding-left: 48px;
    padding-right: 110px;
    margin-top: 16px;
    margin-bottom: 0px;
    text-indent: -47px;
  }
  .p11 {
    text-align: left;
    margin-top: 28px;
    margin-bottom: 0px;
  }
  .p12 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .p13 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .p14 {
    text-align: left;
    margin-top: 49px;
    margin-bottom: 0px;
  }
  .p15 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .p16 {
    text-align: left;
    margin-top: 17px;
    margin-bottom: 0px;
  }
  .p17 {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .p18 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .p19 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p20 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .p21 {
    text-align: left;
    margin: 0;
  }
  .p22 {
    text-align: left;
    padding-left: 307px;
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .p23 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .p24 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .p25 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .p26 {
    text-align: left;
    margin-top: 17px;
    margin-bottom: 0px;
  }
  .p27 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .p28 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .p29 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p30 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p31 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p32 {
    text-align: left;
margin: 0%;
    
  }
  .p33 {
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .p34 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p35 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p36 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p37 {
    text-align: left;
    margin-top: 17px;
    margin-bottom: 0px;
  }
  .p38 {
    text-align: left;
    margin-top: 17px;
    margin-bottom: 0px;
  }
  .p39 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .p40 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p41 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .p42 {
    text-align: left;
    padding-left: 307px;
    margin-top: 51px;
    margin-bottom: 0px;
  }
  .p43 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .p44 {
    text-align: justify;
    padding-left: 192px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: -143px;
  }
  .p45 {
    text-align: left;
    padding-left: 144px;
    padding-right: 147px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: -95px;
  }
  .p46 {
    text-align: left;
    padding-left: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .p47 {
    text-align: left;
    padding-left: 135px;
    padding-right: 129px;
    margin-top: 1px;
    margin-bottom: 0px;
  }
  .p48 {
    text-align: left;
    padding-left: 162px;
    padding-right: 169px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: -113px;
  }
  .p49 {
    text-align: left;
    padding-left: 48px;
    padding-right: 359px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .p50 {
    text-align: left;
    padding-right: 108px;
    margin-top: 16px;
    margin-bottom: 0px;
  }