html, body {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100vw; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.linkButton{
  border-radius: 2px;
  border: 4px solid #b31b1b;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: auto;
  display: inline-block;
  text-decoration: none;
  background: #b31b1b;
  min-height: 50px;
  color: white;
}
.linkButton:visited{
  color: white;
  text-decoration: none;

}
#main {
  display: flex;
  min-height: calc(100vh - 17vh);
}

#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 30vw;
}
#main > nav {
  order: -1;
}
nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header { 
  height: 17vh;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.topNav{
  display: flex;
  height: 65%;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.navLinks{
 text-decoration: none;
  color: #222;
  margin-left: 3px;
  margin-right: 40px;
}
.navLinks:after{
  content: '';
display: block;
width: 40%;
max-width: 100%;
 border-bottom: #b31b1b 2px solid;
transition: width ease-in .25s;
}
.navLinks:hover:after{
  width: 100%;
}
.navLinks:hover{
  text-decoration: none;
  color: #222;
}
.ss-main .ss-multi-selected .ss-values .ss-value{
  background-color: #b31b1b!important;
}
.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:hover {
  background-color:  #b31b1b!important;
}
.bottomNav{
  border-top: 1px solid #dedede;
  display: flex;
  height: 35%;
  flex-direction: row;
  justify-content: space-between;
  background: white;
    z-index: 100;
}
.titleSection{
  margin-left: 10px;
}
.websiteTitle{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: #b31b1b;
  font-weight: bold;
}
#map { 
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  #ilr-logo{
    max-height: 100%;
    margin: 2px;
  }
  .header-right{
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rangeCell{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #labOrgSearch{
    width: 100%;
  }
  .first{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    text-align: center;
  }
  #maxNoOfEmpLabel{
    min-width: 3em;
    text-align: center;
  }
  #maxUnitSizeLabel{
    min-width: 3em;
    text-align: center;
  }
  #minUnitSizeLabel{
    float: right;
  }
  #minNoOfEmpLabel{
    float: right;
  }
  .rangeInput{
    width: 100%;
  }
  #resultCount{
    text-align: center;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .resultText{
    border-bottom: #b31b1b 2px solid;

  }
  /* body{
    margin: 0%!important;
    width: 100vw;
    overflow: scroll;
  } */
  .height-100cent{
    height: 100%;
  }
  .padding-0{
    padding: 0%!important;
  }
  table {     table-layout: fixed; 
    border-collapse: separate;
    border-spacing: 0 1em;
    /* padding: 1%; */
   }
  td { 
    width: 33%;
  
  }
.strikes-box{
  width: 100%;
  height: 47vh;
  border-top: none;
  /* border: 1px solid #dedede;  */
  padding: 2.5%;
  }
  #list-box{ 
   height: 100%;
   overflow-y: scroll;
  }
  .filter-box{ 
    border-bottom: none;
    width: 100%;
    padding: 0 10px 0 10px;
    display: block;
    overflow: scroll;
  }
  .from-box{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }
  #approved{
    margin-top: 5px;
    margin-left: 5px;
  }
  .approved-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .date-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .toggle-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .toggle-label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .strike-label{
    margin-top: 5px;
    margin-right: 5px;
  }
  .protest-label{
    margin-top: 5px;
    margin-left: 5px;
  }
  .state-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .yn-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .button-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 5vh;
  }
  #filterButton{
    width: 80%;
    border-radius: 5px;
  }
  .linksSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0 10px 0;
  }
  .filter-placeholder{
    text-align: center;
  }
  .nav-height{
    height:10%;
    width: 100%;
  }
.main-container{
  height:90%
}
.hidechk {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab {
  width: 100%;
  overflow: hidden;
  margin-bottom: 3px;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  border-radius: .25rem;
  border: 4px solid #b31b1b;

}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
}
.tab-label::after {
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  /* background:#F7F7F7; */
  transition: all 0.35s;
}
.addressLink{
  color: #007bff; ;
  cursor: pointer;
}
.addressLink:hover{
  text-decoration: underline;
}
.no-box{
  opacity: 0;
  max-height: 30vh;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  /* background:#F7F7F7; */
  cursor: pointer;
}
/* .tab-close:hover {
  background: #F7F7F7;
}

.tab-close:hover {
  background: #F7F7F7;
}

.hidechk:checked {
  background: #F7F7F7;
} */

.hidechk:checked + .tab-label::after {
  transform: rotate(90deg);
}

.hidechk:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* TOGGLE BUTTON CSS */
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input#togglechk {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.labelDiv{
  width: 100%;
    font-style: oblique;
    font-weight: lighter;
    font-size: small;
}
.date-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-card{

}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input#togglechk:checked + .slider {
  background-color: #ccc;;
}

input#togglechk:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media only screen and (max-width: 500px) {
  .websiteTitle {
    font-size: 15px;
  }
  .navLinks{
    font-size: 10px;
    margin-right: 8px;
  }
  #main > nav, #main > aside {
    flex: 0 0 100vw;
    width: auto;
    overflow-x: scroll;
}
.filter-box{
  font-size: 12px;
}
#labOrgSearch {
  width: 100%;
  font-size: 10px;
}
.ss-main{
  width: 100%;
  font-size: 10px;
}
.removetd{
  display: none;
}
#fromDate{
  font-size: 0.7rem;
}
#endDate{
  font-size: 0.7rem;
}
#map{
  display: none;
}
article{
  display: none;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color: #b31b1b;; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  bottom: 30px; /* 30px from the bottom */
  margin: 0 20px 0 20px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
}
#snackbar {
  visibility: hidden; 
}